.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.title {
    font-family: 'ADLaMDisplay', sans-serif;
    font-size: 40px;
    color: #8A8A8A;
    margin-left: 5%;
}

.chat-button {
    padding: 10px 20px;
    font-size: 16px; 
    background-color: #8AD1E1;
    color: #302F2F;
    border: none;
    border-radius: 5px; 
    cursor: pointer; 
    margin-right: 5%;
    font-family: 'FiraSans', sans-serif;
}

.chat-button:hover {
    background-color: #8A8A8A;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    height: 500px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .header-modal-button {
    cursor: pointer;
  }
  
  .header-modal-button:hover {
    background-color: #45a049;
  }
  